<h1>About</h1>

Forge Team was created by Andrew Chen as a final project for App Academy. Parts of this website will be implemented as a live version with more features for an actual dragon boat team.