<div class="center">
  <h2>Team Formation</h2>
  <form>
    <label>Team Name
      <input type="text" name="team[teamname]">
    </label>
  
    <input type="submit" value="Create Team">
  </form>
</div>