<html>
  <head>
    <style>
    </style>
  </head>
  <body>

    <div class="container">
      <div class="row">
      <div class="col-xs-4">
      </div>
        <div class="col-xs-4 center">
          <form>
        		<h3 class="form-signin-heading text-muted">Update Paddler Stats</h3>
        		<input type="text" class="form-control" placeholder="Weight (lb.): <%= user.escape('weight')%>" required="" autofocus="" name="user[weight]" id="weight">
        		<input type="text" class="form-control" placeholder="Height (in.): <%= user.escape('height')%>" required="" name="user[height]" id="height">
            <input type="text" class="form-control" placeholder="Side (left/right): <%= user.escape('side')%>" required="" name="user[side]" id="side">
        		<button class="btn update.btn btn-lg btn-primary btn-block" type="submit">
            Update
        		</button>
        	</form>
        </div>
      </div>
    </div>
  </body>
</html>