<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <h3>Contact</h3>
      E-mail: <a href="mailto:e-mail@email.com">Andrew Chen</a>.<br>
    </div>
  </div>
</div>