<div class="row-fluid center">
<br>
<br>
<p>Welcome to ForgeTeam, where you can manage your Dragonboat Team.</p>
<p><a href="#/team"><button type="button" class="btn btn-link btn-lg btn-block" id="create-team">Set Roster</button></a></p>
      
<p><a href="#/team/lineup"><button type="button" class="btn btn-link btn-lg btn-block" id="manage-team">Set Boat Line-Up</button></a></p>          
      </div>
</div>